.audio-player {
    max-width: 720px;
    width: 100%;
    padding: 10px;
    border: 1px solid white;

    &__controls {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__button {
            width: 30px;
            height: 30px;
            border-radius: 50px;
        }

        &__time-bar {
            padding: 5px 10px;
            border: 1px solid white;
        }

        &__sound-bar {
            width: 50px;
            padding: 5px 10px;
            border: 1px solid white;
        }
    }

    &__play-list {
        padding: 10px;
        border: 1px solid white;
    }
}