.audio-player {
    max-width: 720px;
    width: 100%;
    padding: 10px;
    border: 1px solid white;

    &__controls {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__button {
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
            border-radius: 50px;
            border: none;
            outline: none;
            background: lightblue;
            color: blue;
            transition: .3s;
            cursor: pointer;

            &:hover {
                background: rgb(197, 223, 231);
            }

            &:active {
                background: white;
            }
        }

        &__time-bar {
            position: relative;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            //border: 1px solid white;

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                left: 0;
                background: lightblue;
            }

            &__runner {
                width: 10px;
                height: 10px;
                position: absolute;
                left: 0;
                background: white;
                border-radius: 50%;
            }

        }

        &__times {
            width: 100%;
            padding: 10px 5px;
            display: flex;
            justify-content: space-between;
            color: white;
        }

        &__sound-bar {
            position: relative;
            width: 50px;
            display: flex;
            align-items: center;
            padding: 10px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background: lightblue;
            }

            &__runner {
                position: absolute;
                right: 0;
                width: 6px;
                height: 10px;
                border-radius: 4px;
                background: white;
            }
        }
    }

    &__play-list {
        padding: 10px 0;

        &__title {
            color: white;
            padding: 10px 0;

        }
    }
}