.items-list {
    padding: 10px 5px;

    &__item {
        font-weight: normal;
        padding: 10px 0;
        display: flex;

        &__icon {
            width: 15px;
            cursor: pointer;
            transition: .3s;
        }

        .arrow-to-left {
            transform: rotate(90deg);
            fill: lightblue;

            &:hover {
                fill: white;
            }
        }

        .arrow-to-right {
            margin-left: 10px;
            transform: rotate(270deg);
            fill: lightblue;

            &:hover {
                fill: white;
            }
        }

        .active-item {
            height: 15px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: lightblue;
            fill: blue;
            transform: rotate(270deg);

            svg {
                width: 75%;
            }
        }

        .not-active-item {
            height: 15px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid lightblue;

            svg {
                display: none;
            }
        }

        &__info {
            width: 100%;
            padding-left: 10px;
            display: flex;
            justify-content: space-between;

            p {
                color: lightblue;
            }
        }


    }

}